name: Test Code
on:
  push:
    branches:
      - develop/*
jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: QA
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Install Dependencies
        run: npm install
      - name: Build
        run: CI=false npm run build
      - name: Run test
        run: npm run test
      - name: Set homepage
        run: npm run setHomePage
      - name: Upload netlify
        uses: jsmrcaga/action-netlify-deploy@v1.1.0
        with:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
      # - name: Create PR
      #   uses: peter-evans/create-pull-request@v4
      #   with:
      #     base: main
      #     commit-message: PR
      #     title: QA PR
      #     body: Changes added
      #     branch: "develop/qa"
      #     token: ${{ secrets.GITHUB_TOKEN }}
      # - name: Approve PR
      #   uses: juliangruber/approve-pull-request-action@v1
      #   with:
      #     number: 1
      #     github-token: ${{ secrets.APPROVER_TOKEN }}
      # - name: Merge PR
      #   uses: juliangruber/merge-pull-request-action@v1
      #   with:
      #     number: 1
      #     github-token: ${{ secrets.MERGE }}
      #     method: squash
