name: Test Code
on:
  pull_request:
  push:
    branches:
      - develop/*
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Install Dependencies
        run: npm install
      - name: Build
        run: CI=false npm run build
      - name: Run test
        run: npm run test
      - name: Upload page artifact
        uses: actions/upload-pages-artifact@v1.0.4
        with:
          path: "./build"
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to netlify
        id: deployment
        uses: jsmrcaga/action-netlify-deploy@v1.7.1
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID:  ${{ secrets.NETLIFY_SITE_ID }}
        run: netlify deploy --prod